<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    <h1><b>Employee Details</b></h1>
    <ul>
        <li><h2><b><%=result.name %> </b></h2></li>
        <li><h2><b><%= result.domain %> </b></h2></li>
    </ul>

    <form action="/Employee/<%=result._id%>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
    <br/><br/>
    <button><b><a href="/Employee/<%=result._id%>/edit" style="text-decoration: none">Edit Details</a></b></button> <br/>
    <button><b><a href="/<%=result.domain%>_Employees" style="text-decoration: none">Back</a></b></button>


</body>
</html>