<!DOCTYPE html>
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Edit</title>
        </head>
        <body>
            <h1>Edit Details of Employee</h1>
            <form action="/Employee/<%=result._id%>?_method=PUT" method="POST">
                <label for="edit">Edit the name</label>
                <input type="text" id="edit" name="name" value=<%=result.name%> >
                <label for="Domain">Department</label>
                <select id="Domain" name="domain">
                    <option value="UI-UX"     <%=result.domain==="UI_UX"?'selected':''%>>UI/UX</option>
                    <option value="FrontEnd"  <%=result.domain==="FrontEnd"?'selected':''%>>FRONT END </option>
                    <option value="BackEnd"   <%=result.domain==="BackEnd"?'selected':''%>>BACK END</option>
                </select>
                <button>Submit</button>
            </form>
            <br/><br/>
            <button><b><a href="/Employee/<%=result._id%>" style="text-decoration: none">Cancel</a></b></button>
        </body>
        </html>